body{
	background-color:CornflowerBlue ;
}

h1{
	text-align: center;
	font-family:Impact;
	background-color: purple;
	color:pink;
	border-radius:10px;
	box-shadow: 10px 10px 5px blue;
}
#end img{
	height:150px;
	width:300px;
	float:center;
}
ul{
	font-family: Comic Sans MS;
}
p{
	font-family:Comic Sans MS;
}
h3{
	background-color:violet;
	text-decoration:underline;
	border-radius:5px;
}

#objective img{
	height:150px;
	width:150px;
	float:right;
}

div{
	height:250px;
}

#education img{
	height:150px;
	width: 350px;
	float:right;
}	




